<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/response.css}" />
</head>
<body>
    <nav class="fixed-top bg-header-color py-4">
        <div class="app-header">
            <div class="d-flex justify-content-between align-items-center">
                <a th:href="@{/expenses}" class="text-white">
                            <span class="font-size-medium font-weight-bold">
                                Harcama Yöneticisi
                            </span>
                </a>
            </div>
        </div>
    </nav>
  <div class="container p-5 my-5 border container-top-margin">
      <h1>Yapım Aşamasında</h1>
      <p>Aradığınız sayfa yapım aşamasındadır. Lütfen daha sonra tekrar deneyin.</p>
      <a th:href="@{/expenses}" class="btn button_default">Ana Sayfa</a>
  </div>
    <footer class="py-5">
        <div class="container">
            <p class="m-0 text-center text-dark">
                Copyright &copy; Harcama Yöneticisi - 2023 Tasarlayan ve Geliştiren Hüseyin Aydın (huseyinaydin99@gmail.com)
            </p>
        </div>
    </footer>
  <script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>